<div class="container transparent">
	<div>
		<h3 class="text-success">angular.js + sails.js? easy, innit.</h3>
	</div>

	<div class="panel">
		<div class="panel-body">	
			<h3>Hook up the world's best node framework to the world's best browser framework.</h3>
		<p>innit makes it easy.</p>

		<ul>
			<li>Power your Angular apps with Sails' realtime REST API awesomeness.</li>
			<li>Authentication and authorization via JSON Web Tokens and Sails' policies.</li>
			<li>OAuth2 Provider built in. </li>
			<li>Multi-tenant ready and socially aware.</li>
			<li>Sail away with built in offline sync.</li>
		<li>Drop-in runtimes for Chrome Packaged apps and Phonegap / Cordova builds.</li>
		<li>Utility directives and services.</li>
		<li>Angular UI and Ionic utilities.</li>
		</ul>
		

	
		
	</div>
</div><p class="lead">...</p>